<div class="center-div">
    <mat-card class="movie-card" [ngStyle]="{
      'background-image': 'url(' + movies.at(index)?.backDropUrl + ')'
    }">
        <mat-card-header class="text-overlay">
            <mat-card-title-group>
                <mat-card-title>{{movies.at(index)?.title}}</mat-card-title>
                <mat-card-subtitle>{{movies.at(index)?.tagline}}</mat-card-subtitle>
                <img mat-card-lg-image [src]="movies.at(index)?.posterUrl" alt="Poster URL">
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-content class="text-overlay">
            <p>{{movies.at(index)?.overview}}</p>

            <p><strong>Rating:</strong> {{movies.at(index)?.voteAverage}} ({{movies.at(index)?.voteCount}} votes)</p>

            <p><strong>Popularity:</strong> {{movies.at(index)?.popularity}}</p>

            <p><strong>Release Date:</strong> {{movies.at(index)?.releaseDate | date}}</p>

            <p><strong>Runtime:</strong> {{movies.at(index)?.runtime}} minutes</p>

            <p><strong>Languages:</strong> {{movies.at(index)?.spokenLanguages?.join(', ')}}</p>

            <p><strong>Status:</strong> {{movies.at(index)?.status}}</p>

            <div class="button-row">
                <a *ngIf="movies.at(index)?.imdbUrl" mat-raised-button color="accent" [href]="movies.at(index)?.imdbUrl"
                    target="_blank" class="redirect-buttons">
                    <img src="/imdb.ico" alt="IMDb" style="height: 32px;" />
                </a>
                <a *ngIf="movies.at(index)?.tmdbUrl" mat-raised-button [href]="movies.at(index)?.tmdbUrl"
                    target="_blank" class="redirect-buttons">
                    <img src="/tmdb.ico" alt="TMDb" style="height: 32px;" />
                </a>
                <a mat-raised-button (click)="openYoutubeTrailerDialog(movies.at(index)?.id!)" class="redirect-buttons">
                    <img src="/youtube.ico" alt="YouTube" style="height: 32px;" />
                </a>
            </div>


        </mat-card-content>
        <mat-card-footer class="text-overlay">
            <mat-chip-set aria-label="Movie genres">
                <mat-chip *ngFor="let genre of movies.at(index)?.genres">{{genre.name}}</mat-chip>
            </mat-chip-set>
        </mat-card-footer>

        <mat-card-actions class="action-buttons">
            <button mat-fab color="warn" aria-label="Skip Button" (click)="skipNext()">
                <mat-icon>skip_next</mat-icon>
            </button>

            <button mat-fab color="accent" aria-label="Like Button" (click)="favorite()">
                <mat-icon>favorite</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
