<form  *ngIf="!this.initialMovies.length" [formGroup]="seedForm" (ngSubmit)="getRandomMovies()" class="seed-form">
    <mat-form-field appearance="fill">
        <mat-label>Seed (4 characters)</mat-label>
        <input matInput formControlName="seed" maxlength="4" (input)="formatInput()" placeholder="A1B2" />
        <mat-error *ngIf="seedForm.controls['seed'].invalid">
            Must be 4 alphanumeric characters.
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="seedForm.invalid">
        Submit
    </button>
</form>

<app-movie-card *ngIf="this.initialMovies.length" [movies]="this.initialMovies" [seed]="this.seedForm.value.seed"></app-movie-card>